@page "/menus"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using Dinesaur.Domain
@using Dinesaur.Data
@implements IAsyncDisposable
@inject IDbContextFactory<Dinesaur.Data.DinesaurContext> DbFactory
@inject AuthenticationStateProvider authenticationStateProvider
@inject NavigationManager NavigationManager
@inject Dinesaur.Data.DinesaurContext DbContext
<PageTitle>Menu</PageTitle>
<container >
    <h1 style="margin-top:40px;">Restaurant Menu</h1>
@if (HasMenu == true){
    @* Display Menu*@
    <div style=" text-align: center;">
        <a href="/foods/create" class="btn-primary" style="padding: 15px 32px; ">Add food to Menu</a>
        <a href="/menus/create" class="btn-primary" style="padding: 15px 32px; margin-left:10px; ">Add more categories to Menu</a>
            <a href="/menus/delete" class="btn-primary" style="padding: 15px 32px; margin-left:10px; ">Remove categories from Menu</a>
        <hr />
  </div>
    
        <div style="display: grid; grid-template-columns: repeat(5,1fr) ;">
            @foreach (var fooditem in menuFood)
            {
                
                <div style=" text-align: justify; margin-left:40px;">
                    <h6> Food Image:</h6>
                    <div style="width: 60%;  display: flex;  align-items: center;color: none">
                        <img src="@fooditem.Image.FirstOrDefault()" style="width: 80%; height: auto; align-content: center; border: 5px solid white; border-radius: 5px;" alt="Uploaded Image" />
                    </div>
                    <h6> Food Name: @fooditem.FoodName</h6>
                    <h6> Food Cost: @fooditem.Cost</h6>
                    <h6> Food Category: @fooditem.Category </h6>
                    <a href="/foods/delete/@fooditem.FoodID" class="btn btn-danger"  style="padding: 15px 32px;">Delete </a>
                    <a href="/foods/edit/@fooditem.FoodID" class="btn btn-danger" style="padding: 15px 32px;">Edit </a>
                </div>
                
            }
        </div>
        
    }
    
else
    {
        <h2 style="color: #88E788;"> Your Restaurant does not have a Menu</h2>
        <br />
        <a href="/menus/create" class="btn-primary" style="padding: 15px 32px;">Create Menu</a>
    }
</container>
@* <QuickGrid Class="table" Items="context.Menu">
    
    <PropertyColumn Property="menu => menu.RestaurantID" />

    <TemplateColumn Context="menu">
        <a href="@($"menus/edit?menuid={menu.MenuID}")">Edit</a> |
        <a href="@($"menus/details?menuid={menu.MenuID}")">Details</a> |
        <a href="@($"menus/delete?menuid={menu.MenuID}")">Delete</a>
    </TemplateColumn>
</QuickGrid> *@

@code {
    private DinesaurContext context = default!;
    private bool HasMenu;
    private List<Food> menuFood = new();
    private int CheckMenu;
   

    protected override async Task OnInitializedAsync()
    {
        context = DbFactory.CreateDbContext();
        var authState = await authenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        var aspNetUserId = user.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;
        await using var db = await DbFactory.CreateDbContextAsync();

        var CheckForRestaurantId = await db.Restaurant
        .Where(r => r.RestaurantOwnerID == aspNetUserId)
        .Select(r => r.RestaurantID)
        .SingleOrDefaultAsync();
        var CheckForMenu = await db.Menu
        .Where(m => m.RestaurantID == CheckForRestaurantId)
        .Select(m => m.MenuID)
        .SingleOrDefaultAsync();
        CheckMenu = CheckForMenu;
        if (CheckForMenu == null || CheckForMenu == 0)
        {
            HasMenu = false;
        }
        else
        {
            HasMenu = true;
        }
        menuFood = context.Food.Where(f => f.MenuID == CheckMenu)
        .ToList();
    }
        
    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
