@page "/reservations/details"
@using Microsoft.EntityFrameworkCore
@using Dinesaur.Domain
@inject IDbContextFactory<Dinesaur.Data.DinesaurContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Reservation</h2>
    <hr />
    @if (reservation is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Date</dt>
            <dd class="col-sm-10">@reservation.Date</dd>
            <dt class="col-sm-2">Location</dt>
            <dd class="col-sm-10">@reservation.Location</dd>
            <dt class="col-sm-2">Remarks</dt>
            <dd class="col-sm-10">@reservation.Remarks</dd>
            <dt class="col-sm-2">CustomerID</dt>
            <dd class="col-sm-10">@reservation.Id</dd>
            <dt class="col-sm-2">RestaurantID</dt>
            <dd class="col-sm-10">@reservation.RestaurantID</dd>
            <dt class="col-sm-2">StaffID</dt>
            <dd class="col-sm-10">@reservation.StaffID</dd>
        </dl>
        <div>
            <a href="@($"/reservations/edit?reservationid={reservation.ReservationID}")">Edit</a> |
            <a href="@($"/reservations")">Back to List</a>
        </div>
    }
</div>

@code {
    private Reservation? reservation;

    [SupplyParameterFromQuery]
    private int ReservationID { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        reservation = await context.Reservation.FirstOrDefaultAsync(m => m.ReservationID == ReservationID);

        if (reservation is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
