@page "/restaurants/edit/{id:int}"
@using Microsoft.EntityFrameworkCore
@using Dinesaur.Domain
@inject IDbContextFactory<Dinesaur.Data.DinesaurContext> DbFactory
@inject NavigationManager NavigationManager
@rendermode InteractiveServer
<PageTitle>Edit</PageTitle>
<container style="text-align:center; margin-top:40px; color:white;">
<h1 >Edit Your Restaurant</h1>

<hr />
@if (Restaurant is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
            <div class="col-md-4 offset-md-4">
            <EditForm method="post" Model="Restaurant" OnValidSubmit="UpdateRestaurant" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Restaurant.RestaurantID" value="@Restaurant.RestaurantID" />
                <div class="mb-3">
                    <label for="restaurantname" class="form-label">RestaurantName:</label>
                    <InputText id="restaurantname" @bind-Value="Restaurant.RestaurantName" class="form-control" />
                    <ValidationMessage For="() => Restaurant.RestaurantName" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location:</label>
                    <InputText id="location" @bind-Value="Restaurant.Location" class="form-control" />
                    <ValidationMessage For="() => Restaurant.Location" class="text-danger" />
                </div>
                    <div class="mb-3">
                        <label for="category" class="form-label" style="color:white;">Category:</label>
                        <InputSelect id="itemcategory" @bind-Value="Restaurant.Category" class="form-select">
                            @foreach (string category in Categories.Skip(1))
                            {
                                <option value="@category">@category</option>
                            }

                        </InputSelect>
                        <ValidationMessage For="() => Restaurant.Category" class="text-danger" />
                    </div>
                    <div class="mb-3">
                        <label for="openinghours" class="form-label" style="color:white;"> Opening Hour: </label>
                        <InputDate @bind-value="Restaurant.OpeningHours"
                                   Type="InputDateType.Time"
                                   class="form-control"
                                   step="1800" />
                        <ValidationMessage For="() => Restaurant.OpeningHours" class="text-danger" />
                    </div>
                    <div class="mb-3">
                        <label for="openinghours" class="form-label" style="color:white;"> Closing Hour: </label>
                        <InputDate @bind-value="Restaurant.ClosingHours"
                                   Type="InputDateType.Time"
                                   class="form-control"
                                   step="1800" />
                        <ValidationMessage For="() => Restaurant.ClosingHours" class="text-danger" />
                    </div>
                <div class="mb-3" hidden>
                    <label for="adminid" class="form-label">AdminID:</label>
                    <InputNumber id="adminid" @bind-Value="Restaurant.AdminID" class="form-control" />
                    <ValidationMessage For="() => Restaurant.AdminID" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="contact" class="form-label">Contact:</label>
                    <InputNumber id="contact" @bind-Value="Restaurant.Contact" class="form-control" />
                    <ValidationMessage For="() => Restaurant.Contact" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email:</label>
                    <InputText id="email" @bind-Value="Restaurant.Email" class="form-control" />
                    <ValidationMessage For="() => Restaurant.Email" class="text-danger" />
                </div>
                    <container>
                        <div class="mb-3">
                            <label for="IMG" class="form-label" style="color:white;"> Upload Image of Food: </label>
                            <InputFile id="image" OnChange="@LoadFiles" class="form-control" />
                        </div>
                        @if (FileErrors.Any())
                        {
                            <br />
                            <div class="alert alert-danger mb-3" role="alert" style="">
                                **Errors in Uploading Logo:**
                                <ul>
                                    @foreach (var err in FileErrors)
                                    {
                                        <li>@err</li>
                                    }
                                </ul>
                            </div>
                        }
                        @if (Restaurant.Logo.Any())
                        {
                            <br />
                            <div class="mb-3">Logo of Restaurant to be updated</div>
                            <div class="d-flex flex_wrap gap-3">

                                <div class="card p-2" style="width: 480px">
                                    <img src="@Restaurant.Logo.FirstOrDefault()" style="width: 100%; height: auto; object-fit: cover" alt="Uploaded Image" />
                                </div>

                            </div>
                            <br />
                        }
                    </container>
                <button type="submit" class="btn btn-primary">Save</button> 
                <br />
                    <a href="/RestaurantStaff/Home">  Back to Restaurant</a>
            </EditForm>
        </div>
    </div>
}

<div>
    
</div>
</container>
@code {
    [Parameter]
    public int id { get; set; } Restaurant? restaurant;
    [SupplyParameterFromForm]
    private Restaurant? Restaurant { get; set; }
    private const int maxLogoFileSize = 5242880;
    private List<string> FileErrors = new List<string>();
    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Restaurant ??= await context.Restaurant.FirstOrDefaultAsync(m => m.RestaurantID == id);

        if (Restaurant is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateRestaurant()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Restaurant!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!RestaurantExists(Restaurant!.RestaurantID))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/restaurants");
    }
    private List<String> Categories = new List<String>
    {
         "",
         "Western",
         "Fine Dining",
         "Dessert",
         "Vegetarian",
         "HotPot",
         "Others",
    };
    private async Task LoadFiles(InputFileChangeEventArgs e)
    {
        FileErrors.Clear();
        var files = e.GetMultipleFiles();
        var Logo = files.FirstOrDefault();
        if (Logo.Size > maxLogoFileSize)
        {
            FileErrors.Add($"File {Logo.Name} exceeds the maximum size of {maxLogoFileSize} bytes.");

        }

        if (!Logo.ContentType.StartsWith("image/"))
        {
            FileErrors.Add($"File {Logo.Name} is not a supported image format.");
        }
        using (var ms = new MemoryStream())
        {
            await Logo.OpenReadStream(maxLogoFileSize).CopyToAsync(ms);
            var fileBytes = ms.ToArray();
            String base64String = Convert.ToBase64String(fileBytes);
            string imageUri = $"data:{Logo.ContentType};base64,{base64String}";
            if (Restaurant.Logo.Count() > 0)
            {
                Restaurant.Logo.Clear();
            }
            Restaurant.Logo.Add(imageUri);
        }
        StateHasChanged();
    }
    private bool RestaurantExists(int restaurantid)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Restaurant.Any(e => e.RestaurantID == restaurantid);
    }
}
