@*Users View Their Bookings*@

@*Page Link*@
@page "/MyBookings" 

@*Imports*@
@using Dinesaur.Domain
@using Microsoft.EntityFrameworkCore
@rendermode InteractiveServer
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider Auth
@inject IDbContextFactory<Dinesaur.Data.DinesaurContext> DbFactory

@*Container*@
<div style="display: flex; flex-direction:column">

    @*Banner*@
    <div style="background-color: black; height: auto; text-align: left; display: flex; flex-direction: column; padding: 20px; background-color: rgb(0,0,0,60%)">
        <h1 style="margin-top: 100px; margin-bottom: 20px; text-align: left">My Bookings</h1>
        <div style="background-color: white; display: grid; grid-template-columns:repeat(auto-fit, minmax(150px, 1fr)); gap: 10px; border-radius: 10px;  padding: 5px; width: 30%;">
            <a style="background-color: #386641;
                        color:white ; 
                        border-radius: 5px; 
                        padding: 10px; 
                        font-weight:bold;
                        text-align: center"
                @onclick="GetUpcoming">
            Upcoming
            </a>
            <a style="background-color: #24462C;
                        color:white ;
                        border-radius: 5px;
                        padding: 10px;
                        font-weight:bold;
                        text-align: center"
                    @onclick="GetCompleted">
            Completed
            </a>
        </div>
    </div>

    @*Bookings Displayed Here*@
    <div style="display: flex; gap: 25px; flex-direction: column; padding: 50px;">
        @if (userBookings.Count == 0)
        {
            <h2><em>No Bookings</em></h2>
            <a style="padding: 20px; font-size: 25px; font-weight: bold; background-color: black; color: white; border-radius: 15px;" href="/User/Home"> Find Restaurants</a>
        } 
        
        else{

            @if(userSelect == "Upcoming")
            {
                @*Display Reservations Upcoming*@
                <h2 id ="Upcoming" style="font-weight: bold"> Upcoming Bookings</h2>
                @foreach (var booking in userBookings)
                {
                    if (booking.Status != Reservation.ReservationStatus.Completed)
                    {
                      @*Pull Restaurant Info*@
                      var restaurant = restaurants.Find(r => r.RestaurantID == booking.RestaurantID);

                        <a @onclick="() => OpenDetails(booking)">
                            <div style="z-index: 1000; position: relative; cursor: pointer;">
                                <div style="width: 100%; height: auto; background-color: #386641; border-radius: 15px; pointer-events: none; padding: 20px;">
                                    <div style="display: grid; grid-template-columns: 90% 1fr;">
                                        <div>
                                            <h4 style="font-weight: bold; color: #88E788">@restaurant.RestaurantName</h4>
                                                <p style="color:white">
                                                    @restaurant.Location <br />
                                                    @booking.Date.Value.ToString("dd MMMM") - @booking.Time.Value.ToString("hh:mm tt")</p>
                                        </div>
                                        <div style="display: flex; height: 100%; justify-content: center;">
                                            <a style="width: 100%; height: 100%; padding: 10px; font-size: 20px; font-weight: bold; background-color: #88E788; color: black; border-radius: 15px; text-align: center; align-content: center" @onclick="() => OpenDetails(booking)">View</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    }
                }
            } else
            {
                @*Display Previous Reservations*@
                <h2 id = "Completed" style="font-weight: bold"> Completed Bookings </h2>
                @foreach (var booking in userBookings)
                {
                    if (booking.Status == Reservation.ReservationStatus.Completed)
                    {
                        @*Pull Restaurant Info*@
                        var restaurant = restaurants.Find(r => r.RestaurantID == booking.RestaurantID);
                        <a @onclick="() => OpenDetails(booking)">
                            <div style="z-index: 1000; position: relative; cursor: pointer;">
                                <div style="width: 100%; height: auto; background-color: #24462C; border-radius: 15px; pointer-events: none; padding: 20px;">
                                    <div style="display: grid; grid-template-columns: 90% 1fr; align-items: center">
                                        <div>
                                            <h4 style="font-weight: bold; color:#88E788">@restaurant.RestaurantName</h4>
                                            <p style="color:white">
                                                @restaurant.Location <br />
                                                @booking.Date.Value.ToString("dd MMMM") - @booking.Time.Value.ToString("hh:mm tt")
                                            </p>
                                        </div>
                                        <div style="display: flex; height: 100%; justify-content: center;">
                                            <a style="width: 100%; height: 100%; padding: 10px; font-size: 20px; font-weight: bold; background-color: #88E788; color: black; border-radius: 15px; text-align: center; align-content: center" @onclick="() => OpenDetails(booking)">View</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    }
                }
        
            }
        } 
        
          
        
        
        
        

            
    </div>

    @*Show Details Pop Up*@
    @if (ShowPopUp && SelectedReservation != null)
    {
        <div class="modal-backdrop" @onclick="CloseDetails">

            <div class="modal-card" @onclick:stopPropagation>
                <button class="close-btn" @onclick="CloseDetails">✕</button>

                <h2 style="color: #88E788">@SelectedRestaurant.RestaurantName</h2>

                <div class="reservation-detail">
                    <span class="reservation-label">Location:</span>
                    <span class="reservation-value">@SelectedRestaurant.Location</span>
                </div>

                <div class="reservation-detail">
                    <span class="reservation-label">Timing:</span>
                    <span class="reservation-value">
                        @SelectedReservation.Date.Value.ToString("dd MMMM yyyy") - @SelectedReservation.Time.Value.ToString("hh:mm tt")
                    </span>
                </div>

                <div class="reservation-detail">
                    <span class="reservation-label">Status:</span>
                    <span class="reservation-value">@SelectedReservation.Status</span>
                </div>

                <div class="reservation-detail">
                    <span class="reservation-label">Number of People:</span>
                    <span class="reservation-value">@SelectedReservation.Pax</span>
                </div>

                <div class="reservation-detail">
                    <span class="reservation-label">Remarks:</span>
                    <span class="reservation-value">
                        @(string.IsNullOrWhiteSpace(SelectedReservation.Remarks) ? "N/A" : SelectedReservation.Remarks)
                    </span>
                </div>

                <div class="modal-buttons">
                    <a class="secondary-btn" href="/Restaurants/@SelectedRestaurant.RestaurantID#start">
                        View Restaurant
                    </a>

                    @if (SelectedReservation.Status == Reservation.ReservationStatus.Completed)
                    {
                        if (SelectedReservation.ReviewID is not null)
                        {
                            <a class="primary-btn" @onclick="OpenReviewPopUp">
                                View Review
                            </a>
                        } else
                        {
                            <a class="primary-btn" href="/Review/Create/@SelectedReservation.ReservationID">
                                Leave A Review
                            </a>
                        }
                    }
                    else 
                    {
                        <a class="primary-btn" @onclick="EditEligibility">
                            Edit Booking
                        </a>
                        <a class="danger-btn" @onclick="ShowCancelReservationConfirm">
                            Cancel Booking
                        </a>

                    }
                </div>
            </div>
        </div>
 

    }

    @*Show Review Pop Up*@
    @if (reviewPopUp)
    {
        <div class="modal-backdrop" @onclick="CloseReviewPopUp">

            <div class="modal-card" @onclick:stopPropagation>
                <button class="close-btn" @onclick="CloseReviewPopUp">✕</button>
                <h2 style="color: #88E788">Review</h2>

                <div class="reservation-detail">
                    <span class="reservation-label">Title:</span>
                    <span class="reservation-value">@SelectedReview.ReviewTitle</span>
                </div>

                <div class="reservation-detail">
                    <span class="reservation-label">Reservation Slot:</span>
                    <span class="reservation-value">
                        @SelectedReservation.Date.Value.ToString("dd MMMM yyyy") - @SelectedReservation.Time.Value.ToString("hh:mm tt")
                    </span>
                </div>

                <div class="reservation-detail">
                    <span class="reservation-label">Rating:</span>
                    <span style="color:yellow " class="reservation-value">@SelectedReview.Rating ★</span>
                </div>

                <div class="reservation-detail">
                    <span class="reservation-label">Description:</span>
                    <span class="reservation-value">
                        @(string.IsNullOrWhiteSpace(SelectedReview.Description) ? "N/A" : SelectedReview.Description.Substring(0,50))...
                    </span>
                </div>

                <div class="modal-buttons">
                    <a class="secondary-btn" @onclick="CloseReviewPopUp">
                        Back
                    </a>
                    <a class="primary-btn" href="/Review/Edit/@SelectedReview.ReviewID">
                        Edit
                    </a>
                    <a class="danger-btn" @onclick="ShowCancelReviewConfirm">
                        Remove
                    </a>
                </div>
            </div>
        </div>

    }

    @*Alert Shown When Reservation cannot be edited*@
    @if (showEditDenied)
    {
        <div class="confirm-overlay" @onclick="() => showEditDenied = false">
            <div class="confirm-modal" @onclick:stopPropagation>
                <h2 style="color: #88E788">Unable to Edit</h2>
                <p>Booking cannot be edited less then 3 days from Day of Booking</p>
                <div class="modal-buttons">
                    <button class="secondary-btn" @onclick="() => showEditDenied = false">Close</button>
                </div>
            </div>
        </div>
    }

    @*Show Cancel Confirm Pop Up*@
    @if (showCancelReservationConfirm)
    {
        <div class="modal-backdrop" @onclick="CloseCancelReservationConfirm">

            <div class="modal-card" @onclick:stopPropagation>
                <button class="close-btn" @onclick="CloseCancelReservationConfirm">✕</button>
                <h2 style="color: #88E788">Cancel Booking:</h2>
                <p style="color: white">Are you sure of cancelling this booking?</p>
                <div class="modal-buttons">
                    <button class="danger-btn" @onclick="CancelReservation">Yes</button>
                    <button class="secondary-btn" @onclick="CloseCancelReservationConfirm">No</button>
                </div>
            </div>
        </div>

    }

    @if (showCancelReviewConfirm)
    {
        <div class="modal-backdrop" @onclick="CloseCancelReviewConfirm">

            <div class="modal-card" @onclick:stopPropagation>
                <button class="close-btn" @onclick="CloseCancelReviewConfirm">✕</button>
                <h2 style="color: #88E788">Remove Review:</h2>
                <p style="color: white">Are you sure you want to remove this review?</p>
                <div class="modal-buttons">
                    <button class="danger-btn" @onclick="CancelReview">Yes</button>
                    <button class="secondary-btn" @onclick="CloseCancelReviewConfirm">No</button>
                </div>
            </div>
        </div>

    }
</div>


@code {
    
    private List<Reservation> userBookings = new();
    private List<Review> userReviews = new();
    private List<Restaurant> restaurants;
    private string aspNetUserId;

    protected override async Task OnParametersSetAsync()
    {
        @*Get Logged In User Info*@
        var authState = await Auth.GetAuthenticationStateAsync();
        var user = authState.User;
        if (!user.Identity?.IsAuthenticated ?? true)
        {

            NavigationManager.NavigateTo("/Account/Login");
            return;
        }
        aspNetUserId = user.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;

        @*Fetch Reservations and Restaurants from Database*@
        using var context = DbFactory.CreateDbContext();
        userBookings = await context.Reservation.Where(r => r.CustomerID == aspNetUserId).ToListAsync();
        userBookings.Sort((x, y) => Nullable.Compare(x.Date, y.Date));
        userReviews = await context.Review.Where(a => a.CustomerID == aspNetUserId).ToListAsync();
        restaurants = await context.Restaurant.ToListAsync();

    }

    @*Navigate to Restaurant Page*@
    void displayRestaurant(Restaurant restaurant)
    {
        NavigationManager.NavigateTo($"/Restaurants/{restaurant.RestaurantID}");
    }

    bool ShowPopUp = false;
    Reservation? SelectedReservation;
    Restaurant? SelectedRestaurant;
    Review? SelectedReview;

    @*Open Reservation Details Pop Up*@
    void OpenDetails(Reservation reservation)
    {
        SelectedRestaurant = restaurants.Find(r => r.RestaurantID == reservation.RestaurantID);
        SelectedReservation = reservation;
        ShowPopUp = true;
    }

    @*Close Reservation Details Pop Up*@
    void CloseDetails()
    {
        ShowPopUp = false;
        SelectedReservation = null;
        SelectedRestaurant = null;
    }

    private bool showEditDenied = false;

    @*Check Edit Eligibility*@
    private void EditEligibility()
    {
        if(SelectedReservation.Date - DateTime.Now > TimeSpan.FromDays(3))
        {
            NavigationManager.NavigateTo($"/Reservation/Edit/{SelectedReservation.ReservationID}");
        }
        else
        {
            showEditDenied = true;
        }
    }

    public bool showCancelReservationConfirm = false;

    private void ShowCancelReservationConfirm()
    {
        showCancelReservationConfirm = true;
    }


    private void CloseCancelReservationConfirm()
    {
        showCancelReservationConfirm = false;
    }

    private async Task CancelReservation()
    {
        showCancelReservationConfirm = false;
        using var context = DbFactory.CreateDbContext();
        context.Reservation.Remove(SelectedReservation);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/MyBookings", forceLoad: true);
    }

    public bool showCancelReviewConfirm = false;

    private void ShowCancelReviewConfirm()
    {
        showCancelReviewConfirm = true;
    }


    private void CloseCancelReviewConfirm()
    {
        showCancelReviewConfirm = false;
    }

    private async Task CancelReview()
    {
        using var context = DbFactory.CreateDbContext();
        context.Review.Remove(SelectedReview);
        SelectedReservation.ReviewID = null;
        context.Attach(SelectedReservation!).State = EntityState.Modified;
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/MyBookings?from=completed", forceLoad: true);
        showCancelReviewConfirm = false;
    }

    private string userSelect = "Upcoming";

    private void GetUpcoming()
    {
            userSelect = "Upcoming";
    }

    private void GetCompleted()
    {
            userSelect = "Completed";
    }

    public bool reviewPopUp = false;
    private void OpenReviewPopUp()
    {
        SelectedReview = userReviews.Find(r => r.ReviewID == SelectedReservation.ReviewID);
        reviewPopUp = true;
    }

    private void CloseReviewPopUp()
    {
        reviewPopUp = false;
        SelectedReview = null;
    }

    protected override void OnInitialized()
    {
        var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);
        var query = System.Web.HttpUtility.ParseQueryString(uri.Query);

        if (query["from"] == "completed")
        {
            userSelect = "Completed";
        }
    }
}
