@*Users View Their Bookings*@

@*Page Link*@
@page "/MyBookings" 

@*Imports*@
@using Dinesaur.Domain
@using Microsoft.EntityFrameworkCore
@rendermode InteractiveServer
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider Auth
@inject IDbContextFactory<Dinesaur.Data.DinesaurContext> DbFactory

@*Container*@
<div style="display: flex; flex-direction:column">

    @*Banner*@
    <div style="background-color: dimgrey; height: auto; text-align: left; display: flex; flex-direction: column; padding: 20px">
        <h1 style="padding-top: 100px; text-align: left">My Bookings</h1>
    </div>

    @*Bookings Displayed Here*@
    <div style="display: flex; gap: 25px; flex-direction: column; padding: 50px;">
        @if (userBookings.Count == 0)
        {
            <h2><em>No Bookings</em></h2>
            <a style="padding: 20px; font-size: 25px; font-weight: bold; background-color: black; color: white; border-radius: 15px;" href="/User/Home"> Find Restaurants</a>
        }
        else
        {
            @*Display Reservations Upcoming*@
            <h3> Upcoming Bookings</h3>
            @foreach (var booking in userBookings)
            {
                if (booking.Status != Reservation.ReservationStatus.Completed)
                {
                  @*Pull Restaurant Info*@
                  var restaurant = restaurants.Find(r => r.RestaurantID == booking.RestaurantID);

                    <a @onclick="() => OpenDetails(booking)">
                        <div style="z-index: 1000; position: relative; cursor: pointer;">
                            <div style="width: 100%; height: auto; background-color: #386641; border-radius: 15px; pointer-events: none; padding: 20px;">
                                <div style="display: grid; grid-template-columns: 90% 1fr;">
                                    <div>
                                        <h4>@restaurant.RestaurantName</h4>
                                            <p style="color:white">
                                                @restaurant.Location <br />
                                                @booking.StartDate.ToString("dd MMM yyyy : h:mm tt") - @booking.EndDate.ToString("h:mm tt")</p>
                                    </div>
                                    <div style="display: flex; height: 100%; justify-content: center;">
                                        <a style="width: 100%; height: 100%; padding: 10px; font-size: 18px; font-weight: bold; background-color: black; color: white; border-radius: 15px; text-align: center; align-content: center" @onclick="() => OpenDetails(booking)">View</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                }
            }

            @*Display Previous Reservations*@
            <h3> Past Bookings </h3>
            @foreach (var booking in userBookings)
            {
                if (booking.Status == Reservation.ReservationStatus.Completed)
                {
                    @*Pull Restaurant Info*@
                    var restaurant = restaurants.Find(r => r.RestaurantID == booking.RestaurantID);
                    <a @onclick="() => OpenDetails(booking)">
                        <div style="z-index: 1000; position: relative; cursor: pointer;">
                            <div style="width: 100%; height: auto; background-color: #24462C; border-radius: 15px; pointer-events: none; padding: 20px;">
                                <div style="display: grid; grid-template-columns: 90% 1fr; align-items: center">
                                    <div>
                                        <h4>@restaurant.RestaurantName</h4>
                                        <p style="color:white">
                                            @restaurant.Location <br />
                                            @booking.StartDate.ToString("dd MMM yyyy : h:mm tt") - @booking.EndDate.ToString("h:mm tt")
                                        </p>
                                    </div>
                                    <div style="display: flex; height: 100%; justify-content: center;">
                                        <a style="width: 100%; height: 100%; padding: 10px; font-size: 18px; font-weight: bold; background-color: black; color: white; border-radius: 15px; text-align: center; align-content: center" @onclick="() => OpenDetails(booking)">View</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                }
            }
        }
    </div>

    @*Show Details Pop Up*@
    @if (ShowPopUp && SelectedReservation != null)
    {
        <div class="modal-backdrop" @onclick="CloseDetails">

            <div class="modal-card" @onclick:stopPropagation>
                <button class="close-btn" @onclick="CloseDetails">✕</button>

                <h2 style="color: #88E788">@SelectedRestaurant.RestaurantName</h2>

                <div class="reservation-detail">
                    <span class="reservation-label">Location:</span>
                    <span class="reservation-value">@SelectedRestaurant.Location</span>
                </div>

                <div class="reservation-detail">
                    <span class="reservation-label">Timing:</span>
                    <span class="reservation-value">
                        @SelectedReservation.StartDate.ToString("dd MMM yyyy : h:mm tt") -
                        @SelectedReservation.EndDate.ToString("h:mm tt")
                    </span>
                </div>

                <div class="reservation-detail">
                    <span class="reservation-label">Status:</span>
                    <span class="reservation-value">@SelectedReservation.Status</span>
                </div>

                <div class="reservation-detail">
                    <span class="reservation-label">Number of People:</span>
                    <span class="reservation-value">@SelectedReservation.Pax</span>
                </div>

                <div class="reservation-detail">
                    <span class="reservation-label">Remarks:</span>
                    <span class="reservation-value">
                        @(string.IsNullOrWhiteSpace(SelectedReservation.Remarks) ? "NIL" : SelectedReservation.Remarks)
                    </span>
                </div>

                <div class="modal-buttons">
                    <a class="primary-btn" href="/Restaurants/@SelectedRestaurant.RestaurantID#start">
                        View Restaurant
                    </a>

                    @if (SelectedReservation.Status == Reservation.ReservationStatus.Completed)
                    {
                        <a class="primary-btn" @onclick="ShowReviewCreate">
                            Leave A Review
                        </a>
                    }
                    else 
                    {
                        <a class="primary-btn" @onclick="EditEligibility">
                            Edit Booking
                        </a>
                        <a class="danger-btn" @onclick="ShowCancelConfirm">
                            Cancel Booking
                        </a>

                    }
                </div>
            </div>
        </div>
 

    }

    @*Alert Shown When Reservation cannot be edited*@
    @if (showEditDenied)
    {
        <div class="confirm-overlay" @onclick="() => showEditDenied = false">
            <div class="confirm-modal" @onclick:stopPropagation>
                <h3>Unable to Edit</h3>
                <p>Booking cannot be edited less then 3 days from Day of Booking</p>
                <div class="modal-buttons">
                    <button class="secondary-btn" @onclick="() => showEditDenied = false">Close</button>
                </div>
            </div>
        </div>
    }

    @*Reviews Create Form Pop Up*@
    @if (showReviewCreate)
    {
            <div class="confirm-overlay" @onclick="CreateReview">
                <div class="confirm-modal" @onclick:stopPropagation>
                    <h3>Leave A Review!</h3>
                    <p>Tell us about your experience:</p>

                    <button class="close-btn" @onclick="CloseReviewCreate">✕</button>

                    <EditForm Model="@review" OnValidSubmit="CreateReview">
                        <DataAnnotationsValidator />
                        <ValidationSummary />

                        
                        <div style="margin-top:15px;">
                            <label>Title:</label>
                            <InputText @bind-Value="review.ReviewTitle" class="input-field" style="width:100%; border-radius: 15px;"/>
                        </div>

                        
                        <div class="rating">
                            @for (int i = 1; i <= 5; i++)
                            {
                                int starValue = i;

                                <span class="star @(review.Rating >= starValue ? "selected" : "")"
                                      @onclick="() => SetRating(starValue)">
                                    ★
                                </span>
                            }
                        </div>
                        <p>Rating: @review.Rating</p>
                        <div style="margin-top:15px;">
                            <label>Review:</label>
                            <InputTextArea @bind-Value="review.Description" class="input-field" rows="5" style="width: 100%; border-radius: 15px;" />
                        </div>

                        <div style="display:flex; justify-content:flex-end; margin-top:20px;">
                            <button type="submit" class="primary-btn">Submit Review</button>
                        </div>
                    </EditForm>
                </div>
            </div>
    }

    @*Show Cancel Confirm Pop Up*@
    @if (showCancelConfirm)
    {
        <div class="modal-backdrop" @onclick="CloseCancelConfirm">

            <div class="modal-card" @onclick:stopPropagation>
                <button class="close-btn" @onclick="CloseCancelConfirm">✕</button>
                <h3>Cancel Booking:</h3>
                <p style="color: white">Are you sure of cancelling this booking?</p>
                <div class="modal-buttons">
                    <button class="danger-btn" @onclick="ConfirmCancel">Yes</button>
                    <button class="secondary-btn" @onclick="CloseCancelConfirm">No</button>
                </div>
            </div>
        </div>

    }
</div>


@code {
    public Review review = new();
    private List<Reservation> userBookings = new();
    private List<Restaurant> restaurants;

    protected override async Task OnParametersSetAsync()
    {
        @*Get Logged In User Info*@
        var authState = await Auth.GetAuthenticationStateAsync();
        var user = authState.User;
        if (!user.Identity?.IsAuthenticated ?? true)
        {

            NavigationManager.NavigateTo("/Account/Login");
            return;
        }
        var aspNetUserId = user.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;

        @*Fetch Reservations and Restaurants from Database*@
        using var context = DbFactory.CreateDbContext();
        userBookings = await context.Reservation.Where(r => r.CustomerID == aspNetUserId).ToListAsync();
        userBookings.Sort((x, y) => DateTime.Compare(x.StartDate, y.StartDate));
        restaurants = await context.Restaurant.ToListAsync();

    }

    @*Navigate to Restaurant Page*@
    void displayRestaurant(Restaurant restaurant)
    {
        NavigationManager.NavigateTo($"/Restaurants/{restaurant.RestaurantID}");
    }

    bool ShowPopUp = false;
    Reservation? SelectedReservation;
    Restaurant? SelectedRestaurant;

    @*Open Reservation Details Pop Up*@
    void OpenDetails(Reservation reservation)
    {
        SelectedRestaurant = restaurants.Find(r => r.RestaurantID == reservation.RestaurantID);
        SelectedReservation = reservation;
        ShowPopUp = true;
    }

    @*Close Reservation Details Pop Up*@
    void CloseDetails()
    {
        ShowPopUp = false;
        SelectedReservation = null;
        SelectedRestaurant = null;
    }

    private bool showEditDenied = false;

    @*Check Edit Eligibility*@
    private void EditEligibility()
    {
        if(SelectedReservation.StartDate - DateTime.Now > TimeSpan.FromDays(3))
        {
            NavigationManager.NavigateTo($"/Reservation/Edit/{SelectedReservation.ReservationID}");
        }
        else
        {
            showEditDenied = true;
        }
    }

    public bool showReviewCreate = false;
    @*Show Review Create Pop Up*@
    private void ShowReviewCreate()
    {
        showReviewCreate = true;
    }
    @*Close Review Create Pop Up*@
    private void CloseReviewCreate()
    {
        showReviewCreate = false;
        review = new Review();
    }

    @*Set Rating Value*@
    void SetRating(double value)
    {
        review.Rating = value;
    }

    @*Create Review and Save to Database*@
    private async Task CreateReview()
    {
        review.Date = DateTime.Now;
        review.RestaurantID = SelectedRestaurant.RestaurantID;
        review.Status = Review.ApprovalStatusReviews.Pending;

        using var context = DbFactory.CreateDbContext();
        context.Review.Add(review);
        await context.SaveChangesAsync();
        showReviewCreate = false;
        review = new Review();
    }

    public bool showCancelConfirm = false;

    private void ShowCancelConfirm()
    {
        showCancelConfirm = true;
    }


    private void CloseCancelConfirm()
    {
        showCancelConfirm = false;
        SelectedReservation = null;
    }

    private async Task ConfirmCancel()
    {
        showCancelConfirm = false;
        using var context = DbFactory.CreateDbContext();
        context.Reservation.Remove(SelectedReservation);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/MyBookings", forceLoad: true);
    }
}
}